<h1><%= form_title %></h1>
<%= form_with(model: @product_category, local: true) do |form| %>

    <% if @product_category.errors.any? %>
        <div>
            <% @product_category.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :code %>
        <%= form.text_field :code %>
    </div>

    <div>
        <%= form.submit button_title %>
    </div>
<% end %>