<% if flash[:notice] %>
    <div class="notification is-info is-light">
        <span><%= flash[:notice] %></span>
    </div>
<% end %>

<h1><%= @promotion.name %></h1>
<h4><%= @promotion.description %></h4>
<p><%= @promotion.code %></p>
<p><%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %></p>
<p><%= @promotion.coupon_quantity %></p>
<p><%= localize(@promotion.expiration_date) %></p>

<div>
    <%= link_to 'Voltar', promotions_path, class: 'button is-dark' %>
    <%= link_to 'Editar', edit_promotion_path(id: @promotion.id), class: 'button is-warning' %>
    <%= link_to 'Apagar', promotion_path(id: @promotion.id), method: :delete, class: 'button is-danger' %>
    <%= link_to 'Gerar cupons',
        generate_coupons_promotion_path(id: @promotion.id),
        method: :post,
        class: 'button is-link' %>
    
</div>

<% unless @promotion.coupons.empty? %>
    <div>
        <% @promotion.coupons.each do |coupon| %>
            <p><%= coupon.code %></p>
        <% end %>
    </div>
<% end %>