<div class="content">
  <h1><%= @promotion.name %></h1>
  <h4><%= @promotion.description %></h4>
  <p>
    <span><%= @promotion.code %></span>
  </p>
  <p><%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %></p>
  <p><%= @promotion.coupon_quantity %></p>
  <p><%= localize(@promotion.expiration_date) %></p>
  <p>Cadastrada por: <%= @promotion.user.email %></p>
  <% unless @promotion.user == current_user %>
    <%= link_to 'Aprovar promoção', approve_promotion_path, method: :post %>
  <% end %>

  <% if @promotion.approved? %>
    <p>Promoção aprovada!</p>
  <% end %>
</div>

<div>
  <h2 class="subtitle">Categorias de produto</h2>
  <% @promotion.product_categories.each do |product_category| %>
    <span><%= product_category.name %></span>
  <% end %>
</div>

<div>
    <%= link_to 'Voltar', promotions_path, class: 'button is-dark' %>
    <%= link_to 'Editar', edit_promotion_path(id: @promotion.id), class: 'button is-warning' %>
    <%= link_to 'Apagar', promotion_path(id: @promotion.id), method: :delete, class: 'button is-danger' %>
    <%= link_to 'Gerar cupons',
        generate_coupons_promotion_path(id: @promotion.id),
        method: :post,
        class: 'button is-link' %>
    
</div>

<% unless @promotion.coupons.empty? %>
  <hr>
  <div>
    <%= form_with url: promotion_search_coupons_path(@promotion.id), method: :get, local: true %>
    <div class="field is-grouped">
      <%= label_tag :search_id, 'Pesquisa:', class: 'label' %>
        <div class="control">
          <%= text_field_tag :search_id, "", class: 'input', placeholder: "Nome ou descrição da promoção" %>
        </div>

        <div class="control">
          <%= submit_tag 'Pesquisar', class: 'button is-info' %>
        </div>
    </div>
    
  </div>
  <hr>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>CÓDIGO</th>
          <th>AÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <% @promotion.coupons.each do |coupon| %>
          <tr id="coupon_<%= coupon.id %>">
            <th><%= coupon.id %></th>
            <th><%= coupon.code %> (<%= t(".#{coupon.status}") %>)</th>
            <th>
              <% if coupon.active? %>
                <%= link_to 'Inativar',
                inactivate_coupon_path(coupon),
                method: :patch,
                class: 'button is-warning' %>
              <% end %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
      
  </div>
<% end %>